body {
  background-image:url('bg.png');
  background-size:cover;
  opacity:0.7;
  display:block;
  margin:0;
  padding:0;
  text-align:center;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
#navbar {
  margin:0;
  position:fixed;
  width:100%;
}
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1F57AE;
}

.navbar-left {
    float: left;
}
.navbar-nav li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-nav li a:hover {
    background-color: #111;
}
.navbar-right {
    float: right;
}
.navbar-right a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#active {
  background-color: #111;
}
#price-label {
  float:left;
}
h1 {
  color:#01163a;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
.heading {
    text-align: center;
	    margin-bottom: 25px;
		letter-spacing: 1px;
}
.heading h1 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
	font-size: 50px;
}
.heading h2 {
    font-weight: 400;
}
.heading p {
    font-size: 16px;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.navbar-right img {
  height:400%;
  width:200%;
}
#logout-link {
  width:3%;
}
